# Core dependencies
jax==0.4.26
jaxlib==0.4.26
alphafold
hmmer

# API client
aiohttp>=3.8.0
pydantic
pydantic-settings

# Utils
python-dotenv>=0.19.0
tqdm>=4.65.0
numpy==1.26.4
tabulate
# Optional GPU support
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jaxlib==0.4.26+cuda12.cudnn89  # Only needed for GPU support

